# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Dependency directories
node_modules/

# SonarLint plugin
.idea/sonarlint/
/sonarlint/issuestore/f/4/f43ecdf8d666ee908aacce037b4cd72159e4741b
/sonarlint/securityhotspotstore/f/4/f43ecdf8d666ee908aacce037b4cd72159e4741b
/sonarlint/issuestore/index.pb
/sonarlint/securityhotspotstore/index.pb
